/* Add application styles & imports to this file! */

app-home{
  height: 450px;
  padding:0px;
}

.container-fluid{
  background: #f9f9f9;
  margin: 0px 130px;
}

@media only screen and (max-width: 995px) {
    .container-fluid{
      margin: 0px !important;
    }
}

@media (min-width: 1200px){ 
  .container {
      width: 1020px;
  }
  .col-lg-8 {
    width: 64.666667%;
  }
}
