<div class="navbar-header navbar-fixed-top">  
    <div class="container">
    <a class="navbar-brand" href="/">
        <h3>Instagram</h3>
    </a>
    </div>
</div>

<div class="row mtop-50">

<div class="row">
  <div class="container"style="padding:15px !important;" >
    <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8 post-wrapper">
      <div class="post-header">
        <div class="profile-pic">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIi3vEDnvue29P8-GSDrcxFn-pGNcSjoRQomgvqvxPqBB9tIwL"/>
        </div>
        <h4 class="profile-name">mokkapostu</h4>
      </div>  
      <div class="post-body">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRk_sks7CpwjnL9yWiIji8k7aI7mY86N9-byNxp-Gl-5w1Flmdc"/>
      </div>
      <div class="post-footer">
        <div class="post-btn-section">
          <div class="like">
            <img src="https://image.flaticon.com/icons/svg/1077/1077035.svg"/>
          </div>
          <div class="comment">
            <img src="https://image.flaticon.com/icons/svg/2462/2462719.svg"/>
          </div>
          <div class="right">
            <div class="save-post">
              <img src="https://image.flaticon.com/icons/svg/1159/1159580.svg"/>
            </div>
          </div>
        </div>
        <div class="liked-by">
          <div class="likedby-profile-pic">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIi3vEDnvue29P8-GSDrcxFn-pGNcSjoRQomgvqvxPqBB9tIwL"/>
          
          </div>
          <div class="likedby-uname">Liked by <span class="bold">Santoravi</span> and <span class="bold">750 others</span> </div>
        </div>
        <div class="caption-div">
            <div class="current-user">
              Santoravi
            </div>
            <div class="caption">
              This is a sample caption !!!
            </div>
        </div>
        <div class="comments-section">
          <div class="view-all">View all <span>160</span> comments</div>
          <div class="current-user">
              Santoravi
            </div>
            <div class="caption">
              Comments sent by me !!!
            </div>
        </div>
        <div class="comments-posted-time">
          6 hours ago
        </div>
        <div class="comment-textbox">
          <textarea rows="3"></textarea>
          <button>Post</button>
        </div>
      </div>
    </div>
    <div class="right-nav hidden-xs hidden-sm">
      <div class="myprofile">
        <div class="myprofile-pic">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIi3vEDnvue29P8-GSDrcxFn-pGNcSjoRQomgvqvxPqBB9tIwL"/>
        </div>
        <div class="profile-main">
          <h4 class="profile-name">santo ravi</h4>
          <h5 class="profile-short">santo</h5>
        </div>
      </div>
      <div class="stories">
          <div class="stories-watch">
            <h5 style="display: inline-block">Stories</h5>
            <h5 class="pull-right watch-all">Watch All</h5>
          </div>
          <div class="stories-wrapper">
              <div class="profile-pic">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIi3vEDnvue29P8-GSDrcxFn-pGNcSjoRQomgvqvxPqBB9tIwL"/>
              </div>
              <div class="stories-main">
                <h4 class="stories-name">santo ravi</h4>
                <h5 class="posted-time">3 hours ago</h5>
              </div>
          </div>
      </div>
      <div class="stories">
          <div class="stories-watch">
            <h5 style="display: inline-block">Suggestions for you</h5>
            <h5 class="pull-right watch-all">See All</h5>
          </div>
          <div class="stories-wrapper">
              <div class="profile-pic">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIi3vEDnvue29P8-GSDrcxFn-pGNcSjoRQomgvqvxPqBB9tIwL"/>
              </div>
              <div class="stories-main">
                <h4 class="stories-name">santo ravi</h4>
                <h5 class="posted-time">3 hours ago</h5>
              </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>